@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AuthService Demo</h1>
    <p class="lead">
        This is the web home for our AuthService Demo app.
    </p>
    <p><a href="~/identity" class="btn btn-primary btn-lg">Identity Server &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero ac lectus ultricies faucibus.
            Vestibulum tincidunt rutrum augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
            posuere.
        </p>
        <p><a class="btn btn-default" href="http://example.com">Dolor smet &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero ac lectus ultricies faucibus.
            Vestibulum tincidunt rutrum augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere.
        </p>
        <p><a class="btn btn-default" href="http://example.com">Dolor smet &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero ac lectus ultricies faucibus.
            Vestibulum tincidunt rutrum augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere.
        </p>
        <p><a class="btn btn-default" href="http://example.com">Dolor smet &raquo;</a></p>
    </div>
</div>